table {
  width: 90%;
  max-width: 90rem;

  border: 1px solid #00000020;

  border-collapse: collapse;

  font-size: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table thead {
  color: white;
  font-weight: lighter;
  background-color: #141c8a;
}

table tbody {
  text-align: right;
}

table thead th {
  text-align: center;
  padding: 0.3rem 0.4rem;
}

table td {
  overflow: hidden;
  padding: 0.4rem;
  min-width: 5rem;
  max-width: 15rem;
}

table ul {
  list-style: none;
}

table ul li:not(:last-child):after {
  content: ",";
}

table td:not(:last-child) {
  border-right: 1px solid #00000020;
}